/* Google font */
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');

* {
    background-origin: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom,
            #b6a145af, #dfd261);
    --light-gray: rgba(255, 255, 255, 0);
}

header a {
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: #fceca5af;
    background: var(--bggradient);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

header .row .pitmage {
    padding: 4vmin 1vmin;
}

header .row .pitword {
    padding: 15vmin 1vmin;
    font-family: var(--Rubik);
}

header .row .pitmage img {
    padding-top: 1vmin;
    margin-left: -50px;
    width: 120%;
}

header .container .pitword h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .pistachio {
    color: rgb(36, 107, 36);
    padding-bottom: 1vmin;
}

header .container .cheesecake {
    color: rgb(107, 23, 23);
    padding-bottom: 28vmin;
}

/* section-1 */

.section-1 {
    padding: 5vmin 0;
}

.section-1 .card {
    width: 20rem;
    margin-top: 8vmin;
}

.section-1 .card .card-body {
    background: rgb(31, 116, 14);
    color: whitesmoke;
    font-weight: bold;
}

.section-1 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

.good {
    width: 70%;
}

/* section-3 */

.section-3 {
    font-family: var(--Snigle-font);
    background: rgb(134, 195, 206);

}

.section-3 .row .first {
    padding-top: 10vmin !important;
}

.section-3 .row img {
    width: 34rem !important;
    height: 25rem !important;
    margin-left: -8vmin;
}

.section-3 .summer {
    color: rgb(241, 199, 199);
    font-weight: bold;
}

.section-3 .coldb {
    color: whitesmoke;
    font-weight: bolder;
}

.section-3 #pcoffee {
    color: red;
    font-weight: bold;
}

.section-3 #pcappuccino {
    color: green;
    font-weight: bold;
}

.section-3 #pfrapuccino {
    color: rgb(86, 86, 236);
    font-weight: bold;
}

.section-3 p span {
    color: green;
}

.section-3 p {
    color: whitesmoke;
}

.section-3 .row .col-md-6 button {
    border-radius: 20px;
    background: rgb(134, 195, 206);
    color: rgb(80, 27, 27);
}

/* section-4 */

.section-4 {
    background: rgb(192, 243, 98);
    padding: 3vmin 3vmin;
}

.section-4 .row {
    margin-top: -5vmin;
}

.section-4 .row .shawarma img {
    width: 30rem;
    height: 20rem;
}

.section-4 .row .burger img {
    width: 30rem;
    height: 20rem;
}

.section-4 .hot {
    font-weight: bold;
    color: red;
}

.section-4 .burger {
    font-weight: bold;
    color: white;
}

.section-4 .cool {
    font-weight: bold;
    color: white;
}

.section-4 .cool span {
    color: blue;
}

/* section-5 */

.cover {
    width: 100%;
    height: 30vmin;
    background: url("../assets/someonedrinkingcoffee.jpg");
    background-position: -20rem -15rem;
    background-size: 100%;
    position: relative;
}

.cover .content {
    height: 100%;
    width: 100%;
    padding-top: 5vmin;
}

.cover .content>h3 {
    font-family: var(--Patua);
    font-size: 4vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 1.5vmin;
    color: #e5e5e5;
}

.cover .content>h5 {
    font-family: var(--Patua);
    font-size: 2vmin;
    color: rgb(238, 230, 230);
}

/* section-6 */

.section-6 {
    padding: 9vmin 0;
}

.section-6 h3 {
    color: rgb(90, 110, 48);
}

.section-6 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 100%;
    border-radius: 0.2em;
}

.section-6 .row .col-md-6:last-child {
    position: relative;
}

.section-6 .row .col-md-6 .panel button {
    border-radius: 30px;
    font-weight: bold;
    color: rgb(80, 27, 27);
}

.section-6 .row .col-md-6 .panel {
    position: absolute;
    top: 3vmin;
    left: -6vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 8vmin 5vmin 15vmin 8vmin;
    box-shadow: 0px 25px 42px rgba(150, 231, 143, 0.2);
    font-family: var(--Rubik);
    color: black;
    z-index: 1;
}

/* section-7 */

.section-7 {
    /* margin: -6vmin 1vmin; */
    padding: 5vmin 2.5vmin;
    font-weight: bold;
}

.section-7 .row .col-md-6 h3 {
    font-weight: bolder;
    font-family: var(--Rubik);
}

.section-7 .row .col-md-6 .first-text {
    width: 30rem;
    margin: auto;
    color: rgb(150, 48, 48);
    font-weight: bold;
}

.section-7 .row .col-md-6 img {
    width: 24rem;
    height: 20rem;
    margin-top: 0;
}



/* footer */

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 10vmin 14vmin;
}

footer p>span {
    color: #4fdf2b;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #4fdf2b;
}

footer .column i+i {
    padding: 0 0.5em;
}